@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1024px) {
  .hover-effect {
    transition: color 0.3s ease-in 0.2s, background-color 0.3s ease-in 10ms; /* Transition properties */
  }

  .hover-effect:hover h4,
  .hover-effect:hover p,
  .hover-effect:hover a {
    color: white;
  }

  .hover-effect:hover {
    background-color: #00439d;
  }
}

.bg-cover {
  background-image: linear-gradient(to bottom, #ffffff, transparent, #004aad),
    linear-gradient(to bottom, #0c0c0c, transparent),
    url("../public/image-19.svg");
  background-blend-mode: overlay;
  /* border-radius: 50px; */
  overflow: hidden;
  /* height: 595px;
  width: 1256px; */
}

.ourPartner {
  background-image: url("../public/OurPartners.svg");
}

.serviceDetail {
  background-image: url("../public/serviceDetail-a.png");
}
